@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.body{
    font-family: 'Raleway', sans-serif;
    text-transform: capitalize;
    
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.logo span {
  font-weight: normal;
}

/* Hero */
.hero {
  height: 100vh;
  background: url("https://picsum.photos/1600/900") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  background: rgba(0,0,0,0.6);
  color: #fff;
  padding: 20px 30px;
  font-size: 32px;
}

.hero-text span {
  background: #000;
  padding: 5px 10px;
  margin-right: 10px;
}

/* Section */
.section {
  padding: 80px 40px;
}

.section h2 {
  margin-bottom: 20px;
}

/* Projects */
.projects {
  display: flex;
  /* grid-template-columns: repeat(4, 1fr);
  gap: 15px; */|
  
}

.card {
  position: relative;
}

.card span {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 5px 10px;
}

.card img {
  width: 100%;
  display: block;
}

/* About */
.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.person img {
  width: 100%;
}

.person button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

/* Contact */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form input {
  padding: 10px;
  border: 1px solid #ccc;
}

.contact-form button {
  background: #000;
  color: #fff;
  padding: 10px;
  border: none;
}

/* Map */
.map img {
  width: 100%;
}

/* Footer */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}